.header {
    color: #9B9B9B;
    font-family: "Roboto";
}

.t1 {
    color: #9B9B9B;
    font-family: "Roboto";
}

.info-block-value {
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto";
}

.orange {
    color: #F5A623;
}

.green {
    color: #9FE060;
}

.teal {
    color: #50E3C2;
}

.btn-color {
    background-color: #2C8693;
    border: 0;
}

.blue {
    color: #2C8693;
}

.white {
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Roboto";
}

.label {
    color: #9B9B9B;
    font-family: "Roboto";
}

.hidden {
    color: #FFF;
}